/*
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Front-End</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <span>Tecnologias Front-End</span>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <a href="https://www.devmedia.com.br/programacao/front-end">Guia Front-End</a>
</body>
</html>
*/ 

span, li, a {
    font-size: 24px;
    font-family: Verdana;
    color: #2255ee;
}

/*
A união de estilos nos oferece a vantagem de não replicar código CSS para os elementos que tenham os mesmos estilos
*/ 

