a, p {
    font-size: 18px;
} 


subtitulo, .paragrafo {
    font-family: Helvetica;
    font-size: 18px;
}

/*
Ao agrupar seletores CSS (tag ou classe)
você deixa o seu código CSS menor e mais fácil de dar manutenção.

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fargo</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div>
        <h1>Fargo (série televisiva)</h1>
        <h2>Uma série que mistura humor negro com drama criminal</h2>
        <img src="img/banner.jpg" alt="Fargo">
    </div>
    <div>
        <h3>Enredo</h3>
        <p class="texto-enredo">Fargo é uma série de televisão americana de humor ácido e drama, criada por Noah Hawley, para a FX. A série é inspirada no filme Fargo, que conta com Joel, Ethan Coen e Hawley. A série estreou em 15 de Abril de 2014 no canal FX, seguindo um formato em que cada temporada se passa em uma diferente era, com diferentes acontecimentos e novos personagens, apesar de haver uma pequena ligação entre os histórias.</p>
        <h3>Temporadas de Fargo</h3>
        <h4>1ª temporada</h4>
        <p class="texto-temporada">Em janeiro de 2006, Lorne Malvo (Billy Bob Thornton) chega à pequena Bemidji, uma cidade do estado do Minesota e, com sua malícia e violência, começa a influenciar a população, inclusive o vendedor Lester Nygaard (Martin Freeman). </p>
        <h4>2ª temporada</h4>
        <p class="texto-temporada">Narrando uma história diferente por temporada, a série apresenta na segunda a trajetória do policial Lou Solverson (Patrick Wilson) de 33 anos e recém-vindo da Guerra do Vietnã, personagem vivido pelo vencedor do Oscar, Keith Carradine, na primeira temporada. </p>
        <h4>3ª temporada</h4>
        <p class="texto-temporada">Em 2010, o agente de condicional da cidade de St. Cloud, Ray Stussy (Ewan McGregor), e sua namorada Nikki Swango (Mary Elizabeth Winstead), que está em condicional, sonham em ter uma vida melhor.</p>
        <h4>4ª temporada</h4>
        <p class="texto-temporada">Em 1950, a organização criminosa Cannon Limited, liderada por Loy Cannon (Chris Rock), ameaça usurpar o território controlado pela Fadda Family, liderada por Josto Fadda (Jason Schwartzman), em Kansas City, Missouri. </p>
    </div>
</body>
</html>
*/ 


div {
    width: 600px;
    margin: 25px auto;
    font-family: Verdana;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

h2, h4 {
    color: #37719b;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 5px;
    border-left: 2px solid #37719b;
}

.texto-enredo, .texto-temporada {
    text-align: justify;
    line-height: 24px;
}

.texto-enredo {
    color: #0a436c;
    margin-top: 0;
}

.texto-temporada {
    color: #212121;
    margin-top: 10px;
    margin-bottom: 30px;
}


/*
É muito comum encontrar em diversos projetos códigos CSS que agrupam tags ou classes.
Por isso, entender como funciona o agrupamento de seletores é fundamental para o 
desenvolvedor front-end, pois é uma das tarefas do profissional dar manutenção em 
códigos CSS que utilizam esse conceito.
*/



